# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Create a Jupyter Notebook
- List popular languages for Data Science
- List commonly used Data Science libraries
- Create a Table listing Data Science Tools
- Execute Markdown and code cells

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Matplotlib
3. Scikit-learn
4. TensorFlow
5. ApacheSpark
6. Vegas

| Data Science Tools |
| ------------------ |
| Jupyter |
| RStudio |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Garrett B.